/* =========      COLORS     ========= */

$color_main1 : rgb(56, 210, 156);

$color_main2 : rgb(109, 181, 170);

$color_main3 : rgba(0, 51, 47, 0.68);
$color_main3_hover : rgb(0, 54, 69);

$color_black:rgba(0, 0, 0, 0.185);

$color_link : rgb(222, 74, 0);
$color_link_hover: rgb(255, 136, 77);