




/* =========      FONTS     ========= */

/* ENCABEZADO */
h1 {
    @include font('Montserrat', 900 , 300%);
    @include font-big;
}

/* ENCABEZADO 2 */
h2 {
    @include font('Montserrat', 900 , 200%);
    @include font-big;
}

/* ENCABEZADO 3 */
h3 {
    @include font('Montserrat', 700 , 150%);
    @include font-big;

    font-style: italic;
    letter-spacing: 2px;
    line-height:100%;
}

/* ENCABEZADO 4 */
h4{
    @include font('Anybody', 300 , 100%);
    @include font-small;
}

/* PARRAFOS */
p {
    @include font('Anybody', 300 , 100%);
    @include font-small;

    text-transform:initial;
}


/* REMARKS */
strong {
    @include font('Anybody', 600 , 100%);
    @include font-small;

    color: $color_link;
}

/* PARA LOS FORMS */
label {
    @include font('Anybody', 300 , 100%);
    @include font-small;
}
input , textarea{
    background-color: rgb(2, 20, 19);
    border-color: $color_dark;
    border-style:solid;
    color: $color_contrast_alt;

}


/* LINKS */

a{
    transition: color 250ms ease;

    &:any-link{
        @include font('Montserrat', 700 , 88%); 

        color: $color_link;

        letter-spacing: 2px;
        text-decoration: none;
    }

    &:hover{
        color:$color_link_hover;
    }
}

    /* FONDO DE LOS LINKS */
    main span a{
        background-color: $color_link_bg;
    }