


/* font 1: para headers */
.font-big {
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
    line-height:90%;
    letter-spacing: 4px;
    color: $color_main1;
}
/* font 2: para parrafos y textos */
.font-small {
    font-family: 'Anybody','Gill Sans MT', cursive;
    font-weight: 300;
    font-size: 100%;
    text-transform:uppercase;
    color: $color_main2;
}





    h1 {
        @extend .font-big;

        font-size: 300%;
    }

    h2 {
        @extend .font-big;

        font-size: 200%;
    }

    h3 {
        @extend .font-big;

        font-weight: 700;
        font-style: italic;
        letter-spacing: 2px;
        line-height:100%;
        font-size: 100%;
        text-transform: uppercase;
    }


h4{
    @extend .font-small;
}
p {
    @extend .font-small;

    text-transform:initial;
}
strong {
    @extend .font-small;

    font-weight: 600;
    color: $color_link;
}
label {
    @extend .font-small;
}
input , textarea{
    background-color: rgb(2, 20, 19);
    border-color: $color_main3;
    border-style:solid;
    color: $color_main2;

}


/* LINKS */

a{
    transition: color 250ms ease;

    &:any-link{
        color: $color_link;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 700;
        font-size: 88%;
        letter-spacing: 2px;
        text-decoration: none;
    }

    &:hover{
        color:$color_link_hover;
    }

}


main span a{
    background-color: $color_black;
}