

/* ============================================ */
/* BODY */
/* ============================================ */
body {
    @include flex_values(nowrap,column,center,normal);
    @include theme_background;

    font-size:1rem;
    height:100vh;
}

/* ============================================ */
/* HEADER Y NAV */
/* ============================================ */

header {
    @include flex_values(nowrap,row,center,center);
    
    position:sticky;
    top:0px;
    width:100%;
    background-color: var(--color_extradark);
    border-bottom: 1px solid var(--color_dark);
    
    @include anim_hover;


    > div {
        @include flex_values(wrap,row,normal,space-between);  
        
        a {
            width:fit-content;
        
            img {
                width: 230px;
                filter: var(--invertvalue);
            }
        }

        > div {
            @include flex_values(wrap,row,center,space-between);
        }
    }
}


/* ============================================ */
/* MAIN */
/* ============================================ */


main{
    @include flex_values(nowrap,column,normal,normal); 
    margin:5px 0px;
}
main img{
    height: fit-content;
    align-self: center;
}


/* ============================================ */
/* FOOTER */
/* ============================================ */

footer {
    @include flex_values(nowrap,row,center,center);

    width:100%;
    border-top: 2px solid var(--color_dark);
    padding-top:5px;
    background-color: var(--color_extradark);
    margin-top:auto;

    > div {
        @include flex_values(nowrap,row,center,space-between);

        
        div:first-child{
            font-size:95%;
        }
    }
    
    p{
            text-transform:initial;
    }

}