/* ============================================ */
/* =============       START     ============== */
/* ============================================ */


/* BODY */
body {
    @include flex_values(nowrap,column,center,normal);

    font-size:16px;
    height:100vh;
    background-color: #000000;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 6px ), repeating-linear-gradient( #001f1f55, #000505 );
    background-attachment: fixed;

}


/* ============================================ */
/* HEADER Y NAV */
/* ============================================ */

header {
    @include flex_values(nowrap,row,center,center);
    
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    width:100%;
    background-color: rgb(1, 9, 16);
    border-bottom: 1px solid $color_main3;
    transition: border-color 250ms ease;


    &:hover {
    border-color: rgb(0, 54, 69)
    }

    div {
        @include flex_values(wrap,row,normal,space-between);  
        
        a {
            width:-moz-fit-content;
            width:fit-content;
        
            img {
                width: 230px;
            }
        }
    }
}


/* ============================================ */
/* MAIN */
/* ============================================ */


main{
    @include flex_values(nowrap,column,normal,normal); 
    margin:5px 0px;
}


/* ============================================ */
/* FOOTER */
/* ============================================ */

footer {
    @include flex_values(nowrap,row,center,center);

    width:100%;
    border-top: 3px solid $color_main3;
    padding-top:5px;
    background-color: rgb(0, 2, 1);
    margin-top:auto;

    > div {
        @include flex_values(nowrap,row,center,space-between);

        
        div:first-child{
            font-size:95%;
        }
    }
    
    p{
            text-transform:initial;
    }

}