/* ============================================ */
/* BOX MODELING STYLES */
/* ============================================ */

/* estilo 1 para contenedores: con gradient y borde interactivo */
.style1{
    margin: 25px 0px;
    border-radius: 18px;
    border: 1px solid var(--color_dark);

    @include anim_gradient;
    @include anim_hover;
}


/* separador de secciones: con titulo */
.separator{
    @include flex_values(nowrap,row,center,space-between);
    

    padding: 1% 3%;
    margin:25px 0 0 0;
    border: 1.5px solid var(--color_dark);
    border-radius: 18px;

    @include anim_gradient;
    @include anim_hover;
 

}



/* carta estilo 1 para info: con titulo, parrafo e imagen */
.cardInfo{
    @include flex_values(nowrap,row,normal,flex-end);

    padding: 2% 4%;

    > div {
        @include flex_values(nowrap,column,normal,space-between);

    
        * {
            margin: 3px 0;
        }
        img {
            width:auto;
            align-self: center;
        }

    }
}



/* grilla contenedora para 4 cartas "cardTrack" */
.gridTracks{
display: grid;
grid-template-columns: 23% 23% 23% 23% 7%;
grid-template-rows: 100%;
grid-template-areas: "id1" "id2" "id3" "id4" "idmore";

align-content: center;
}



/* carta estilo 2, para tracks: con imagen y titulo */
.cardTrack{
    @include flex_values(nowrap,column,center,normal);


    background-color: var(--color_black_alt);
    border: 2px solid var(--color_contrast);
    border-radius: 9px;
    margin: 0px 5px;
    padding: 9px;
    
    font-size: 60%;

    transition: border-color 0.5s ease, background-color 0.5s ease;

    h2{
        text-align: center;
        transition:color 0.5s ease;
    }
    img{
        width: 100%;
        border-radius: 4px;
        padding-bottom:20px;
    }
    &:hover{
        border-color:var(--color_link); 
        background-color: var(--color_black_hover);
    }
    &:hover h2 {
        color: var(--color_link);
    }

}


/* carta estilo 3, para albums: con imagen, nombre de album y tracklist */
.cardAlbum{
    @include flex_values(nowrap,row,normal,normal);


    font-size: 80%;

    background-color: var(--color_black_alt);
    border: 2px solid var(--color_contrast_alt2);
    border-radius: 9px;

    padding: 8px 18px 8px 10px;
    margin: 10px;

    width: 380px;

    transition: border-color 0.5s ease, background-color 0.5s ease;


    &:hover {
        border-color: var(--color_contrast);
        background-color: var(--color_black_hover);
    }
    

    img {
        width: 200px;
        height: auto;

        border-radius: 4px;
        padding-right:10px;
        }

    div {
        @include flex_values(nowrap,column,flex-start,flex-start);

   
        * {
            margin-bottom: 5px;
        }
    }

    li {
        list-style:none;
    }

    a {
        transition: color 0.2s ease;
        color: var(--color_contrast_alt2);
    }

    a:hover {
        color: var(--color_link);
    }

}



/* Dark Mode Switch */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--color_dark);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--color_extradark);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--color_contrast);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }